[submodule "vendor/express"]
	path = vendor/express
	url = git://github.com/visionmedia/express.git
[submodule "vendor/riak-js"]
	path = vendor/riak-js
	url = git://github.com/frank06/riak-js.git
[submodule "vendor/redis-node-client"]
	path = vendor/redis-node-client
	url = git://github.com/fictorial/redis-node-client.git
[submodule "vendor/node-xml"]
	path = vendor/node-xml
	url = git://github.com/robrighter/node-xml.git
[submodule "vendor/hashlib"]
	path = vendor/hashlib
	url = git://github.com/brainfucker/hashlib.git
